/* Start Variable  */
:root {
    --main-yellow-color: #fba820;
    --light-gray-color: #cfcfcf;
    --middle-gray-color: #868686;
    --gray-color: #555;
    --dark-btn-bg: #3f3f3f;

    --section-padding: 100px;
    --main-transition-duration: 0.3s;
    --secondry-transition-duration: 0.5s;
}

/* end Variable  */

/* Start Global Rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/* End Global Rules  */
/* Start Component  */
.main-btn {
    padding: 13px 40px;
    border: 1px solid var(--main-yellow-color);
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    display: block;
    width: fit-content;
    transition: var(--main-transition-duration);
}

.main-btn:hover {
    background-color: var(--main-yellow-color);
}


.scondry-btn {
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 1px solid var(--dark-btn-bg);
    display: block;
    width: fit-content;
    transition: var(--main-transition-duration);
}

.scondry-btn.darkToYellow {
    color: white;
    background-color: var(--dark-btn-bg);
}

.scondry-btn.darkToYellow:hover {
    background-color: var(--main-yellow-color);
    border-color: var(--main-yellow-color);
}

.scondry-btn.lightToDark {
    color: var(--dark-btn-bg);
}

.scondry-btn.lightToDark:hover {
    color: white;
    background-color: var(--dark-btn-bg);
}


/* End Component  */
/* Loading SEction  */
.loading-secreen {
    width: 100%;
    height: 100vh;
    background-color: #15191aed;
    position: fixed;
    z-index: 1000;
}

.loading-secreen .content div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid var(--main-yellow-color);
    border-left-color: transparent;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Loading SEction  */

/* Start Hero Area  */
.hero-area {
    width: 100%;
    height: 100vh;
    background-image: url(../image/main-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Start Header Section  */
.header-section .header-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 40px;
    position: relative;
}

.header-content a {
    color: white;
}

.header-content a span {
    color: var(--main-yellow-color);
}

.header-content .links {
    display: flex;
    align-items: center;
}

.header-content .links .menu-btn {
    color: white;
    font-size: 25px;
    transition: var(--main-transition-duration);
    cursor: pointer;
}

.header-content .links .menu-btn:hover {
    color: var(--main-yellow-color);
}

@media (min-width : 1080px) {
    .header-content .links .menu-btn {
        display: none;
    }
}

.header-content .links ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1080px) {
    .header-content .links ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        width: calc(100% - 80px);
        top: calc(100% - 40px);
        right: 40px;
        background-color: #15191aed;
        padding: 10px;
        gap: 0;
        margin: auto;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid #656565;
        z-index: 100;
    }
}

.header-content .links ul.active {
    display: flex;
}

.header-content .links ul li {
    position: relative;
    transition: var(--secondry-transition-duration);
    width: 100%;
}

@media (max-width: 1080px) {
    .header-content .links ul li {
        width: 100%;
    }

    .header-content .links ul li a {
        width: 100%;
        padding: 10px;
        display: block;
    }
}

.header-content .links ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-yellow-color);
    top: 100%;
    right: 0;
    transform-origin: center left;
    transform: rotateY(90deg);
    transition: var(--secondry-transition-duration);
}

/* .header-content .links ul li:hover a{
    color: var(--main-yellow-color);
} */

.header-content .links ul li:hover::before {
    transform: rotateY(0deg);
}

/* End Header Section  */

/* End Hero Area  */

/* Start Landing Section  */
.landing-section {
    height: calc(100vh - 117px);
}

.landing-section .container {
    height: 100%;
    position: relative;
}

.landing-section .landing-content {
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 576px) {
    .landing-section .landing-content {
        width: 90%;
    }
}

.landing-content h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: "Source Code Pro", sans-serif;
}

.landing-content h1 span {
    color: var(--main-yellow-color);
}

.landing-content p {
    color: var(--light-gray-color);
    line-height: 1.8;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
}

@media(max-width: 576px) {
    .landing-content p {
        font-size: 16px;
    }
}

.landing-content .social-link {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    margin-top: 3rem;
}

.landing-content .social-link a {
    color: white;
    transition: var(--main-transition-duration);
}

.landing-content .social-link a:hover {
    color: var(--main-yellow-color);
}

/* End Landing Section  */
/* Start About Section  */
.about-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    overflow: hidden;
}

.about-section .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-content .info,
.about-content .skill-progress {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
}

@media (max-width: 767px) {

    .about-content .info,
    .about-content .skill-progress {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.about-content .info h2 {
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1;
    color: #252525;
}

.about-content .info p {
    color: var(--gray-color);
    line-height: 2.2;
    margin: 1.5rem 0;
}

.about-content .info .btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-content .skill-progress .skill-item {
    margin-bottom: 1.5rem;
}

.about-content .skill-item span {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    display: block;
}

.about-content .skill-item .prog {
    width: 100%;
    height: 5px;
    background: var(--light-gray-color);
    border-radius: 5px;
}

.about-content .skill-item .prog .prog-line {
    height: 100%;
    background: var(--main-yellow-color);
    border-radius: 5px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    position: relative;
}

.about-content .skill-item .prog .prog-value {
    position: absolute;
    content: "90%";
    padding: 2px 5px;
    background: var(--main-yellow-color);
    right: -17px;
    top: -22px;
    font-size: 12px;
    margin: 0;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: var(--main-transition-duration);
    animation: top-dwon-skillProgValue 2s infinite alternate;
}

.about-content .skill-item .prog .prog-value::before {
    content: "";
    position: absolute;
    right: 13px;
    top: 95%;
    border: 6px solid transparent;
    border-top-color: var(--main-yellow-color);
}

@keyframes top-dwon-skillProgValue {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* End About Section  */

/* Start SErvice Section  */
.service-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f9f9f9;
}
.service-content .main-heading {
    text-align: center;
}

.service-content .main-heading h2 {
    margin-bottom: 1.5rem;
    font-size: 3.8rem;
    line-height: 1;
    font-weight: 500;
    color: #252525;
}

.service-content .main-heading p {
    width: 42%;
    line-height: 1.8;
    font-size: 1.2rem;
    color: var(--middle-gray-color);
    margin: 0 auto 60px;
}

@media (max-width: 992px) {
    .service-content .main-heading p {
        width: 60%;
    }
}

.service-content .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.service-content .row .col {
    flex: 0 0 calc(32% - 0.5rem);
    max-width: calc(32% - 0.5rem);
    padding: 40px 20px;
    text-align: center;
    background: white;
    border-radius: 10px;
    transition: var(--main-transition-duration);
}

.service-content .row .col:hover {
    box-shadow: 0 0 20px #0000002b;
}

@media (max-width: 992px) {
    .service-content .row .col {
        flex: 0 0 calc(50% - 0.75rem);
        max-width: calc(50% - 0.75rem);
    }
}

@media (max-width: 768px) {
    .service-content .row .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.service-content .row .col i {
    font-size: 3rem;
    color: var(--light-gray-color);
    margin-bottom: 2rem;
    transition: var(--main-transition-duration);
}

.service-content .row .col:hover i {
    color: var(--main-yellow-color);
}

.service-content .row .col h3 {
    font-size: 1.5rem;
    color: var(--middle-gray-color);
    margin-bottom: 1rem;
}

.service-content .row .col p {
    line-height: 1.5;
    color: var(--middle-gray-color);
    font-size: 14px;
}

.service-content .slick-dots {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    margin: 60px auto;
}

.service-content .slick-dots span {
    width: 15px;
    height: 15px;
    background: var(--light-gray-color);
    border-radius: 50%;
    transition: var(--main-transition-duration);
}

.service-content .slick-dots span:hover {
    background-color: var(--main-yellow-color);
}

/* End SErvice Section  */
