/* Start Variable  */
:root {
    --main-yellow-color: #fba820;
    --light-gray-color: #cfcfcf;
    --middle-gray-color: #868686;
    --gray-color: #555;
    --main-transition-duration: 0.3s;
    --secondry-transition-duration: 0.5s;
}

/* end Variable  */

/* Start Global Rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro", "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/* End Global Rules  */
/* Start Component  */
.main-btn {
    padding: 13px 40px;
    border: 1px solid var(--main-yellow-color);
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    display: block;
    width: fit-content;
    transition: var(--main-transition-duration);
}

.main-btn:hover {
    background-color: var(--main-yellow-color);
}

/* End Component  */
/* Start Hero Area  */
.hero-area {
    width: 100%;
    height: 100vh;
    background-image: url(../image/main-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Start Header Section  */
.header-section .header-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 40px;
    position: relative;
}

.header-content a {
    color: white;
}

.header-content a span {
    color: var(--main-yellow-color);
}

.header-content .links {
    display: flex;
    align-items: center;
}

.header-content .links .menu-btn {
    color: white;
    font-size: 25px;
    transition: var(--main-transition-duration);
    cursor: pointer;
}

.header-content .links .menu-btn:hover {
    color: var(--main-yellow-color);
}

@media (min-width : 1080px) {
    .header-content .links .menu-btn {
        display: none;
    }
}

.header-content .links ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1080px) {
    .header-content .links ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        width: calc(100% - 80px);
        top: calc(100% - 40px);
        right: 40px;
        background-color: #15191aed;
        padding: 10px;
        gap: 0;
        margin: auto;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid #656565;
        z-index: 100;
    }
}

.header-content .links ul.active {
    display: flex;
}

.header-content .links ul li {
    position: relative;
    transition: var(--secondry-transition-duration);
    width: 100%;
}

@media (max-width: 1080px) {
    .header-content .links ul li {
        width: 100%;
    }

    .header-content .links ul li a {
        width: 100%;
        padding: 10px;
        display: block;
    }
}

.header-content .links ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-yellow-color);
    top: 100%;
    right: 0;
    transform-origin: center left;
    transform: rotateY(90deg);
    transition: var(--secondry-transition-duration);
}

/* .header-content .links ul li:hover a{
    color: var(--main-yellow-color);
} */

.header-content .links ul li:hover::before {
    transform: rotateY(0deg);
}

/* End Header Section  */

/* End Hero Area  */

/* Start Landing Section  */
.landing-section {
    height: calc(100vh - 117px);
}

.landing-section .landing-content {
    width: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 576px) {
    .landing-section .landing-content {
        width: 100%;
    }
}

.landing-content h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.landing-content h1 span {
    color: var(--main-yellow-color);
}

.landing-content p {
    color: var(--light-gray-color);
    line-height: 1.8;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
}

@media(max-width: 576px) {
    .landing-content p {
        font-size: 16px;
    }
}

.landing-content .social-link {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    margin-top: 3rem;
}

.landing-content .social-link a {
    color: white;
    transition: var(--main-transition-duration);
}

.landing-content .social-link a:hover {
    color: var(--main-yellow-color);
}

/* End Landing Section  */




.loading-secreen {
    width: 100%;
    height: 100vh;
    background-color: #15191aed;
    position: fixed;
    z-index: 1000;
}

.loading-secreen .content div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid var(--main-yellow-color);
    border-left-color: transparent;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
